body
{
      font-family: "Poppins", sans-serif;
}
*
{
    padding: 0;
    margin: 0;
    
}
:root
{
    --main-color:#F9F1E7;
    --brown-color:#B88E2F;
    --green-color:#2EC1AC;
    --red-color:#E97171;
    --beige-color:#FFF3E3;
}